.active {
  color: #E46019;
  background: transparent;
  border: 2px solid #E46019;
  border-radius: 10px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabcard {
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.tabimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tabinfo {
  padding: 1rem;
}
.tabbtn {
  display: flex;
  justify-content: center;
}

.review-card {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-content {
  padding: 20px;
}

.review-card h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.review-card p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .review-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .review-card {
    width: calc(100% - 20px);
  }
}
