.active {
  color: #e46019;
  background: transparent;
  border: 2px solid #e46019;
  border-radius: 10px;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabcard {
  flex: 1 0 200px;
  margin-bottom: 20px;
}

.tabimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tabinfo {
  padding: 1rem;
}
.tabbtn {
  display: flex;
  justify-content: center;
}

.review-card {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-content {
  padding: 20px;
}

.review-card h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.review-card p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .review-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .review-card {
    width: calc(100% - 20px);
  }
}

.active {
  color: #a755ca;
  background: transparent;
  border: 2px solid #a755ca;
  border-radius: 10px;
}
.Error {
  padding-top: 50px;
  min-height: 100vh;
  background-image: linear-gradient(1deg, #4470cf, #b8c994);
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;
}
.Error h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
}
.Error a {
  text-decoration: none;
  background: rgb(0, 162, 255);
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 20px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
  margin-top: 50px;
}
.Error a:hover {
  background: rgb(80, 4, 134);
}
